/* userDetails css */
/* src/components/UserDetails.css */
.user-details-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-details-heading {
    color: #333;
}

.add-button,
.open-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.user-details-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.user-details-table th,
.user-details-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.user-details-table th {
    background-color: #f2f2f2;
}

/* style for home */
/* src/pages/Home.css */
.home-container {
    text-align: center;
    padding: 20px;
}

.header {
    color: #007bff;
    /* Set your desired text color */
}

.all-users-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}